
html{
    color: #343138;
}

body{
    margin: 0;
    padding: 0;
}


h1{
    font-family: 'Lucida Handwriting';
    font-size: 50px;
}

h2{
    text-align: left;
    font-size: 30px;
    font-family: 'Lucida Handwriting';
}

h4{
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Handwriting';
}

p{
    font-family: 'Century';
    padding-inline: 10px;
    display: block;
}


.menu-item{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'Century';
}

.menu{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f6f3c3;
}

.logo{
    width: 150px;
}

.enlace{
    text-decoration: none;
    color: #904f23;
    font-family: 'Century';
}

.div-index{
    background-color: #cabba6;
    flex-basis: 100%;
    height: 40px;
    margin-bottom: 0.5rem;
}

.div-frida{
    background-color: #e5a199;
    flex-basis: 100%;
    height: 40px;
    margin-bottom: 0.5rem;
}

.div-vangogh{
    background-color: #fedfc6;
    flex-basis: 100%;
    height: 40px;
    margin-bottom: 0.5rem;
}

.div-picasso{
    background-color: #e2b79a;
    flex-basis: 100%;
    height: 40px;
    margin-bottom: 0.5rem;
}

.painter-image{
    border-radius: 50%; 
    max-width: 15%;
}

.painter-info{
    display: flex;
    padding: 10px 40px;
}

.info{
    padding-left: 10px;
}

.painter-pictures{
    display: flex;
    padding: 10px 40px;
}

.frida-picture1{
    max-width: 30%;
    display: block;
}

.frida-picture2{
    max-width: 35%;
    display: block;
}

.vangogh-picture1{
    max-width: 45%;
    display: block;
}

.vangogh-picture2{
    max-width: 50%;
    display: block;
}

.picasso-picture1{
    max-width: 40%;
    display: block;
}

.picasso-picture2{
    max-width: 40%;
    display: block;
}

.background-footer{
    background-color: #f6f3c3;
}

.miguelangel-picture{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.definition{
    padding: 15px 15px;
}

.clasification{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.subtitle{
    text-align: center;
}

.div-generos{
    background-color: #e2b79a;
    flex-basis: 100%;
    height: 220px;
    margin-bottom: 0.5rem;
}

.div-tecnicas{
    background-color: #fedfc6;
    flex-basis: 100%;
    height: 220px;
    margin-bottom: 0.5rem;
}

.div-materiales{
    background-color: #cabba6;
    flex-basis: 100%;
    height: 220px;
    margin-bottom: 0.5rem;
}


@media (min-width: 600px) {
    .clasification, .menu {
        flex-wrap: nowrap;
    }
    .div-generos {
        flex-basis: 33%;
    }
    .div-tecnicas {
        flex-basis: 33%;
    }
    .div-materiales {
        flex-basis: 33%;
    }
}
